---
layout: layouts/base.njk
---
<article class="post-content">
    <header>
        <h1>{{ title }}</h1>
        <p class="post-content__date"><strong>Posted on:</strong> <time class="postlist-date" datetime="{{ page.date.toUTCString() }}">{{ date | readableDate }}</time></p>
    </header>
    <section class="post-content__section">
        {{ content | safe }}
    </section>
</article>