---
title: 'nothing breathes / a personal blog by joel goodman'
description: "A personal blog by Joel Goodman. Rewinding it to '06 or so."
layout: layouts/base.njk
permalink: /
---
{% for post in collections.posts %}
<article class="post-content">
    <header>
        <h2><a href="{{ post.url | url }}">{{ post.data.title }}</a></h2>
        <p class="post-content__date"><strong>Posted on:</strong> {{ page.date | readableDate }}</p>
    </header>
    <section class="post-content__section">
        {{ post.content | safe }}
    </section>
</article>
{% endfor %}